{% extends 'base.html' %} {% block content %}
<h1>Game Tracker Page</h1>

<h5>Name:</h5>
<p>{{ name }}</p>
<p></p>
<h5>Class:</h5>
<p>{{ class }}</p>

<table id="game_table"></table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Game</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                      <label for="page" class="col-form-label">Price:</label>
                      <input type="number" class="form-control" id="page" name="page"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Game</button>
          </div>
      </div>
  </div>
</div>

<script>
  async function getGames() {
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }
  async function refreshGames() {
        document.getElementById("game_table").innerHTML = ""
        const games = await getGames()
        let htmlString = `<tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        games.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.title}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })

        document.getElementById("game_table").innerHTML = htmlString
    }

    refreshGames()

    function addGame() {
        fetch("{% url 'main:add_game_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshGames)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addGame
</script>
  
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Game by AJAX
</button>

  <br />
  
  <a href="{% url 'main:create_game' %}">
    <button class="btn btn-info">Add New Game</button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button class="btn btn-warning">Logout</button>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
  </a>
  
{% endblock content %}
